.cardContenedor {
    border: 1px solid #f5dde3;
    border-radius: 10px;
    box-shadow: 0 2px 16px rgba(39, 39, 39, 0.2);
}

.cardContenedor:hover {
    box-shadow: 0 0 10px #f07191;
}

.imgItem {
    width: auto;
    height: 300px;
    margin: 10px;
    padding: 10px;
    object-fit: contain;
}

.tituloCard {
    font-size: 18px;
}

.tamanoCard,
.generoCard,
.precioCard,
.idCard {
    margin-bottom: 5px;
    font-weight: 500;
}

.marcaCard {
    margin-bottom: 20px;
}

.btn.btnDetalle {
    border: rgb(234, 95, 118);
    border-radius: 20px;
    width: 90%;
    background-color: rgb(234, 95, 118);
    font-weight: 500;
    margin-top: 20px;
}



.btn.btnDetalle:hover {
    box-shadow: 0 0 10px #e5335f;
    background-color: rgb(223, 60, 87);
    --bs-btn-hover-bg: rgb(234, 95, 118);
}