.btnDecrementar, .btnIncrementar{
    width: 23px;
    height: 23px;
    margin: 10px;
    padding-left: 1px;
    padding-bottom: 3px;
    line-height: 1px;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(234, 95, 118);
    justify-content: center;
}

.btnAgregar {
    border: rgb(234, 95, 118);
    border-radius: 20px;
    width: 150%;
    height: 38px;
    background-color: rgb(234, 95, 118);
    color: white;
    font-weight: 500;
    margin-top: 20px;
}

.btnAgregar:hover {
    background-color: rgb(223, 60, 87);
    box-shadow: 0 0 4px #e5335f
}
