.miNavBar{
    background-color: rgb(234, 95, 118);
}

.navbar .navBarPersonalizado{
    font-size: 40px;
    font-weight: bold;
}

.navbar .navLinkPersonalizado{
    font-size: 20px;
    font-weight:600;
    color: white;
}

