/* .imgDetalleCkBe{
    height: 500px !important;
    width: 550px !important;
} */

.imgItem {
    height: 50%;
    margin: 0;
    padding: 0;
}

.tituloCard {
    font-size: 18px;
}

.tamanoCard,
.generoCard,
.precioCard {
    margin-bottom: 4px;
    font-weight: 500;
}

.marcaCard {
    margin-bottom: 0;
}

.descripcionCard {
    font-size: 16px;
}

.finalizarCompra {
    text-decoration: none;
    border-radius: 20px !important;
    width: 40%;
    padding: 10px;
    background-color: rgb(234, 95, 118);
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

.finalizarCompra:hover {
    background-color: rgb(223, 60, 87);
}


/* Estilos para versiones mayores a tablet */

/* Estilos para versiones mayores a tablet */
@media (min-width: 769px) {
    .cardContenedorDetail {
        height: 55rem !important;
        /* Altura fija para versiones mayores a tablet */
    }
}