.cardContenedorDetail{
    max-width: 50%;
    margin: 0 auto;
}

.imgItem {
    height: 50%;
}

.tituloCard {
    font-size: 18px;
}

.tamanoCard,
.generoCard,
.precioCard {
    margin-bottom: 4px;
    font-weight: 500;
}

.marcaCard {
    margin-bottom: 0;
}

.descripcionCard {
    font-size: 16px;
}

.finalizarCompra {
    text-decoration: none;
    border-radius: 20px !important;
    width: 40%;
    padding: 10px;
    background-color: rgb(234, 95, 118);
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.finalizarCompra:hover {
    background-color: rgb(223, 60, 87);
    box-shadow: 0 0 4px #e5335f;
}
